* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  /* background: url(assets/images/background.jpg) center/cover; */

  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  /* background-color: #111; */
  align-items: center;
}

table,
th,
td {
  padding: 1rem;
  border-collapse: collapse;
  text-align: center;
}

table {
  width: 100%;
}

form {
  width: 80%;
}

thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #dad4ecfe;
}

main.table,
.form-container {
  width: 82vw;
  height: 90vh;
  background-color: #fff4;
  backdrop-filter: blur(7px);
  box-shadow: 0 0.4rem 0.8rem rgba(172, 127, 127, 0.333);
  border-radius: 0.8rem;
  overflow: hidden;
}

.table__header {
  width: 100%;
  height: 10%;
  background-color: #fff4;
  /* background-color: #dbc9defe; */
  padding: 0.8rem 1rem;
  text-align: center;
}

.table__body {
  width: 95%;
  max-height: calc(89% -1.6rem);
  background-color: #fffb;
  margin: 0.8rem auto;
  border-radius: 0.6rem;
  overflow: auto;
}
.form__body {
  padding: 60px;
  width: 50%;
  max-height: calc(89% -1.6rem);
  background-color: #fffb;
  margin: 0.8rem auto;
  border-radius: 0.6rem;
  overflow: auto;
}

.table__body::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}
.table__body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
}
.table__body:hover::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: visible;
}

tbody tr:nth-child(even) {
  background-color: #0000000b;
}

tbody tr:hover {
  background-color: #fff6;
}

.edit {
  background-color: #72aee6c9;
  padding: 5px 30px;
  border-radius: 2rem;
  color: #000080;
  text-decoration: none;
  text-align: center;
}

.submit__button {
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.delete {
  background-color: #d893a3;
  padding: 5px 30px;
  border-radius: 2rem;
  color: #b30021;
  text-decoration: none;
  text-align: center;
}

.form__background {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  /* border: 1px solid white; */
}

form {
  height: 520px;
  width: 430px;
  background-color: rgba(255, 255, 255, 0.07);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(225, 225, 225, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}

form * {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

form h3 h1 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
}
label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

::placeholder {
  color: #e5e5e5;
}

.form__buttons {
  margin-top: 60px;
}
.home__button {
  margin-top: 300px;
  margin-left: 80px;
}

@media (max-width: 1000px) {
  td:not(:first-of-type) {
    min-width: 12.1rem;
  }
}

.outer {
  margin: 10px 10px 0px 10px;

  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
}
.button {
  height: 40px;
  width: 150px;
  border-radius: 50px;
  border: none;
}
.create__button {
  margin-left: 2px;
  background-color: #111;
  height: 38px;
  width: 146px;
  border-radius: 50px;
}
.create__link {
  text-decoration: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;

  padding-top: 10px;
}
